* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;

}


.cart {
    position: fixed;
    display: flex;
    top: 3%;
    right: 1.2%;
}

.cart::after {
    position: fixed;
    bottom: 6%;
    right: 9%;
    content: '';
}

.cart i {
    display: block;
    padding: 1.2rem;
    font-size: 5.5rem;
    color: #ffdf4f;
    border-radius: 3rem;

}

.cart i:hover {
    transform: translateY(-0.6rem);
}

.wrapper {
    width: 100%;
    max-width: 31.25rem;
    margin: 6rem auto;
    margin-right: 70rem;

}

.label {
    color: #39b54a;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: +0.13rem;
    margin-bottom: 0.5rem;
}

.searchBar {
    width: 120%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    margin-bottom: 1.5rem;
}

.searchBar:hover {}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #39b54a;
    opacity: 1;
    /* Firefox */
    font-size: 1.35rem;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}


#searchQueryInput {
    width: 100%;
    height: 4.8rem;
    background: #707070;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1.4rem;
    color: white;
}


#searchQuerySubmit {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
}

#searchQuerySubmit:hover {
    cursor: pointer;
}





html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 9.8rem;
    background: transparent;
    background: #555555;
    position: relative;

}

.navlist {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
    background: transparent;
    background: #555555;
    position: relative;
    padding: 4rem;
}

.navlist a {
    color: white;
    margin-left: 6rem;
    font-size: 1.9rem;
    font-weight: 600;
    border-bottom: 0.2rem solid transparent;
    transition: all .55s ease;

}

.navlist a:hover {
    border-bottom: 0.2rem solid #39b54a;
    color: #ffdf4f;
}

.logo {
    width: 250%;
    height: 220%;
    display: flex;
    top: 0%;
    right: 50%;
    margin-top: 3.1rem;
}


nav {}

/* Navbar Default State Bg Color */
.nav-menu .norm a:before {
    background-color: #ffdf4f;
}

/* Navbar Hover State Bg Color */
.nav-menu .norm a:after {
    background-color: #ecc725;
}

/* Dropdown Menu a (navbar) Bg Color */
.nav-menu .dropdown a:before {
    background-color: #ffdf4f !important;
}

/* Dropdown Menu a (navbar) Bg Color */
.nav-menu .dropdown a:after {
    background-color: white !important;
    border-bottom: 0.2rem solid #B7521B;
}

/* Dropdown Menu Open a (navbar) Bg Color */
.down-color {
    background-color: white !important;
    border-bottom: 0.2rem solid #ecc725;
}

/* Dropdown Menu Inner Items Default Bg Color */
.dropdown-menu>li>a {
    background-color: #ecc725 !important;
}

/* Dropdown Menu Inner Items Hover/Focus Bg Color */
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: #ffdf4f !important;
}

/* - - - - End Color Theme - - - - */




/* + + + + Navbar Body + + + + */

nav {
    position: absolute;
    height: 8.2rem;
    width: 100vw;
}

.nav-menu {
    display: flex;
    padding: 0;
}


/* - - - - End Navbar Body - - - - */


/* + + + + Nav Buttons + + + + */

.nav-menu li {
    display: block;
    flex-grow: 1;
    text-align: center;
    z-index: 100;
    background-color: transparent;
    line-height: 6.1rem;
    overflow: hidden;
}



.nav-menu li a {
    position: relative;
    display: inline-block;
    z-index: 50;
    width: 100%;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
}


/* + + Style for Top-Level li's Only + + */

.nav-menu .li-1 {
    width: 100%;
}


/*  + + + + Nav Button Pseudos (For Hover State) + + + + */

.nav-menu .norm a:after,
.nav-menu .norm a:before {
    content: "";
    position: absolute;
    display: inline-block;
    height: 6rem;
}

.nav-menu .norm a:after {
    left: 50%;
    width: 0%;
    z-index: -20;
    -webkit-transition: .6s ease all .2s;
    transition: .6s ease all .2s;
}

.nav-menu .norm a:hover:after {
    left: 0%;
    width: 100%;
    -webkit-transition: .2s ease-out all;
    transition: .2s ease-out all;
}

.nav-menu .norm a:before {
    left: 0%;
    width: 100%;
    z-index: -50;
}

/* - - - - End Nav Button Pseudos - - - - */



/*  + + + + Dropdown Styles + + + + */

.dropdown {}

.dropdown-menu {
    width: 100%;
    position: relative;
    top: -50rem;
    text-align: center;
    z-index: 1049;
    display: block;
    list-style: none;
    font-size: 1.2rem;
    border: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0;
}

.dropdown-menu>li>a {
    display: block;
    padding-top: 0.56rem;
    padding-bottom: 0.56rem;
    clear: both;
    font-family: gotham light !important;
    font-size: 1.5rem !important;
    line-height: 3.5rem;
    color: #777 !important;
    white-space: nowrap;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    text-decoration: none;
    color: black !important;
}

.dropdown-menu>li>a:after,
.dropdown-menu>li>a:before {
    display: none !important;
}


/* + + jQuery Modified Dropdown Styles + + */

#click-slide {
    z-index: 3;
    padding-bottom: 0 !important;
}

#drop {
    width: 100%;
    text-align: center;
    margin-bottom: 1.85rem;
}

.down {
    position: absolute;
    display: block;
    top: 0rem;
}


#menu-icon {
    color: black;
    font-size: 3.5rem;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    margin-left: 4rem;
}

section {
    padding: 0 19%;
}

.hero-text h5 {
    font-size: 4rem;
    font-weight: 400;
    color: #555555;
    margin-bottom: 4rem;
}

.hero-text h1 {
    font-family: 'PT Serif', serif;
    font-size: 3rem;
    line-height: 1;
    color: #555555;
    margin: 0 0 4.5rem;
   

}

.hero-text h4 {
    font-size: 4.2rem;
    font-weight: 400;
    color: #555555;
    margin-bottom: 1rem;
}


.hero-img img {
    width: 54rem;
    height: auto;
    margin-top: 4rem;
    margin-left: -11rem;
}

.hero-text a {
    display: inline-block;
    color: black;
    background: rgb(255, 223, 79);
    border: 0.1rem solid transparent;
    padding: 1.2rem 3rem;
    line-height: 1.4;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 3rem;
    text-transform: uppercase;
    transition: all .55s ease;
}

.hero-text a:hover {
    background-color: #ecc725;
    color: black;
    cursor: pointer;
    transition: 0.4s;
    transform: translateX(0.8rem);
}

.hero-text a.ctaa {
    background: transparent;
    border: 0.1rem solid #39b54a;
    margin-left: 2rem;
}

.hero-text .ctaa {
    color: #39b54a;
}

.hero-text a.ctaa i {
    vertical-align: middle;
    margin-right: 0.5rem;
}


.icons {
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}

.icons i {
    display: block;
    margin: 2.6rem;
    font-size: 2.8rem;
    color: black;
    transition: all .50s ease;
}

.icons i:hover {
    color: #434343;
    transform: translateY(-0.5rem);
}

.scroll-down {
    position: fixed;
    bottom: 6%;
    right: 9%;

}

.scroll-down::after {
    position: fixed;
    bottom: 6%;
    right: 9%;
    content: '';
}

.scroll-down i {
    display: block;
    padding: 1.2rem;
    font-size: 2.5rem;
    font-size: 2.5rem;
    background-color: #ffdf4f;
    color: #000;
    margin-right: 145rem;

}

.scroll-down i:hover {
    transform: translateY(-0.6rem);
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    display: inline-block;
    margin-top: 10rem;
    width: 42.1rem;
    padding: 1rem;
}

.container p {
    font-size: 1.6rem;
}

.heading {
    position: relative;
    background: lightgray;
}

.heading-img {
    width: 50rem;
    height: auto;

    margin-left: 18rem;
}

.heading-text1 {
    font-size: 2.5rem;
    text-transform: uppercase;
}

.heading-text {
    position: absolute;
    bottom: 33%;
    left: 38%;
}

.heading-text2 {
    font-size: 1.35rem;
    display: inline-block;
}

.wrap {
    height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 33rem;
    flex-wrap: wrap;
}

.button {
    width: 14rem;
    height: 5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-weight: 500;
    color: black;
    background-color: #ffdf4f;
    border: none;
    box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-left: 30rem;
    margin-top: 2rem;

}

.button:hover {
    background-color: #ecc725;
    color: black;
    cursor: pointer;
    transition: 0.4s;
}

.parts {
    width: 32rem;
    display: flex;
    gap: 5rem;
    align-items: center;
    height: auto;
    margin: 1.8rem;

}

.part--section {
    border: rgb(196, 196, 196) 0.1rem solid;
}

.part--section h2,
p {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #555555;
}

.part--section h1{
    color: #39b54a;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.part {
    width: 27rem;
    height: 30rem;
    transition: 0.2s transform;
    flex-grow: 1;
    /* Used if the image is unavailable */
}

.part:hover {
    transform: scale(1.02) translateY(-0.7rem);
    cursor: pointer;
}

.part>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.part--section h2 {
    font-size: 0.86rem;
}

.part--section h1 {
    font-size: 1.2rem;
}

.part--p {
    color: #39b54a;
    font-size: 1.9rem;
}


.image img {
    width: 200%;
    height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    color: #fff;
}

.title {
    display: block;
    margin-top: -1.5rem;
    font-size: 1.5rem;
    color: green;
    text-transform: capitalize;
}

.social li {
    display: inline-block;
}

.social li i {
    display: block;
    padding: 1rem;
    font-size: 1.7rem;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}


a {
    text-decoration: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 20rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 2rem;
    height: 5.5rem;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}


.btn-hover.color-5 {
    background: #ffdf4f;
    color: white;
}


.btn-hover.color-5:hover {
    background-color: #ecc725;
    color: black;
    cursor: pointer;
    transition: 0.4s;
}

.sec--3--steps {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
    color: #30dd8a;
}

.sec--3--steps h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-column: 1/6;
    font-size: 2rem;
}

.sec--3--steps figure {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #434343;
    color: #f0f6ff;
    width: 15rem;
    height: 15rem;
    border-radius: 50rem;
    font-size: 2.5rem;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.step {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 1rem;
}

.step--1 {

    grid-column: 2/3;
    grid-row: 2/3;
}

.step--2 {
    grid-column: 4/5;
    grid-row: 2/3;
}

.step--3 {
    grid-column: 2/3;
    grid-row: 4/5;
}

.step--4 {
    grid-column: 4/5;
    grid-row: 4/5;
}

.section-a {
    margin: 2rem 0;
    margin-left: -4rem;
    display: flex;
    background: #ECECEC;
    justify-content: center;
    align-items: center;
}

.section-a a:hover {
    text-decoration: none;
}

.section-a .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30rem;
}

.section-a h1 {
    font-size: 4rem;
    color: var(--primary-color);
}

.section-a p {
    margin: 1rem 0;
}

.section-a img {
    margin-left: 20rem;
}

.about button {
    background: #ffdf4f;
    color: black;
    border: 0.2rem solid transparent;
    text-decoration: none;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    font-weight: bold;
    width: 14rem;
    height: 4.5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-weight: 500;
    box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-right: 10rem;
}

.about button:hover {
    background-color: #ecc725;
    color: black;
    cursor: pointer;
    transition: 0.4s;
}

.section--first {
    background: black;
}

.section--second {
    background: darkblue;
}

.section--third {
    background: white;
    display: flex;
    padding: 4rem;
    align-items: center;
}

.arrow {
    width: 10%;
    height: 100%;
    background: white;
    font-size: 300%;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow:hover {
    cursor: pointer;
}

.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 2rem;
    width: 80%;
    flex-wrap: wrap;
    margin-top: 20rem;
}

.review {
    width: 26.6rem;
    min-height: 30rem;
    background: darkred;
    list-style: none;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    background: white;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2),
        inset 0 -1rem 1rem -1rem rgba(0, 0, 0, 0.1);
    position: relative;
    animation-name: fadein;
    animation-duration: 0.8s;
}

.review:nth-of-type(4),
.review:nth-of-type(5),
.review:nth-of-type(6) {
    display: none;
}

.review img {
    width: 15rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
    margin-left: 2rem;
}

.quote {
    font-size: 500%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    line-height: 3rem;
}

.stars {
    color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review p {
    font-size: 75%;
    font-style: italic;
    padding-bottom: 2rem;
    border-bottom: 0.5 rem solid rgba(0, 0, 0, 0.2);
    margin-top: 1rem;
}

footer {
    max-height: 61rem;
    width: 100%;
    position: absolute;
    /* bottom: 0;weghalen als niet werkt*/
    background: #313139;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    padding: 10rem 0 3rem;
    border-top-left-radius: 12.5rem;
    font-size: 1.3rem;
    height: 85vh;
    line-height: 2rem;
}

footer p,h1,h4, .email-id{
    color: #999999;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.col {
    flex-basis: 25%;
    padding: 1rem;
}

.col:nth-child(2),
.col:nth-child(3) {
    flex-basis: 15%;
}

.logo {
    width: 25rem;
    margin-bottom: 3rem;
    margin-left: -5.3rem;
}

.col h3 {
    width: fit-content;
    margin-bottom: 4rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.place {
    width: fit-content;
    margin-bottom: 4rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 2rem;
}

.col p {
    margin-right: 12rem;
}



.email-id {
    width: fit-content;
    border-bottom: 0.1rem solid #ccc;
    margin: 2rem 0;
}

ul li {
    list-style: none;
    margin-bottom: 1.2rem;
}

ul li a {
    text-decoration: none;
    color: #999999;
}


form {
    padding-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1rem solid #ccc;
    margin-bottom: 5rem;
    gap: 1rem;
}

form .fas {
    font-size: 1.8rem;
    margin-right: 1rem;
}

form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;

}

form button .fas {
    font-size: 1.6rem;
    color: #ccc;
}

.social-icons .fab {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    text-align: center;
    line-height: 4rem;
    font-size: 2rem;
    color: #000;
    background: #fff;
    margin-right: 1.5rem;
    cursor: pointer;
}

.social-icons:hover {
    cursor: pointer;
}

.social-icons a {
    color: white;
}

hr {
    width: 100%;
    border: 0;
    border-bottom: 0.1rem solid #ccc;
    margin: 2rem auto;
}

.copyright {
    text-align: center;
    background: #26262e;
    min-height: 13.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -9rem;
    margin-top: -2rem;

}

.underline {
    width: 100%;
    height: 0.5rem;
    background: #39b54a;
    border-radius: 0.3rem;
    position: absolute;
    top: 2.5rem;
    left: 0;
    overflow: hidden;
}

footer a:hover {
    border-bottom: 0.2rem solid #39b54a;
}

.underline span {
    width: 1.5rem;
    height: 100%;
    background: #ffdf4f;
    border-radius: 0.3rem;
    position: absolute;
    top: 0;
    left: 1rem;
    animation: moving 2s linear infinite;
}


@keyframes moving {
    0% {
        left: -2rem
    }

    100% {
        left: 100%;
    }

}

button i {
    color: #ccc;
}

@media (max-width:70rem) {
    footer {
        bottom: unset;
    }

    .col {
        flex-basis: 100%;

    }

    .col:nth-child(2),
    .col:nth-child(3) {
        flex-basis: 100%;
    }
}

::-webkit-scrollbar {
    width: 1.5rem;
}

::-webkit-scrollbar-track {
    background: #d1e5ff;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #000000, #434343);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@media screen and (max-width: 118rem) {
    .about {
        width: 100%;
        height: auto;
        padding: 7rem 0;
    }
}

@media screen and (max-width: 65rem) {
    .about .content img {
        margin-bottom: 3.5rem;
    }

    .text h1 {
        font-size: 6rem;
        margin-bottom: 2.5rem;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
        filter: blur(1rem);
    }

    to {
        opacity: 1;
        filter: blur(0);
    }
}

@media screen and (max-width: 50rem) {
    .arrow {
        display: none;
    }

    .reviews {
        width: 100%;
    }
}

@media (max-width: 153.5rem) {
    header {
        padding: 1.5rem 3%;
        transition: .2s;
    }

    .icons {
        padding: 0 3%;
        transition: .2s;
    }

    .scroll-down {
        right: 3%;
        transition: .2s;
    }
}

@media (max-width: 146rem) {
    section {
        padding: 0 12%;
        transition: .2s;
    }
}

@media (max-width: 134rem) {
    .hero-img img {
        width: 100%;
        height: auto;
    }

    .hero-text h1 {
        font-size: 7.5rem;
        margin: 0 0 3rem;
    }

    .hero-text h5 {
        margin-bottom: 2.5rem;
    }
}

@media (max-width: 119.5rem) {
    section {
        padding: 0 3%;
        transition: .2s;
    }

    .hero-text {
        padding-top: 11.5rem;
    }

    .hero-img img {
        width: 56rem;
        height: auto;
    }

    .hero {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .icons {
        display: none;
    }

    .scroll-down {
        display: none;
    }
}

@media (max-width: 99rem) {
    #menu-icon {
        display: block;
    }

    .navlist {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 30rem;
        height: 40vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 5rem 2rem;
        transition: all .55s ease;
    }

    .navlist a {
        margin-left: 0;
        display: block;
        margin: 0.7rem 0;
    }

    .navlist.open {
        right: 0;
    }
}

@media (max-width: 68rem) {
    .hero-img img {
        width: 100%;
        height: auto;
    }
}

::-webkit-scrollbar {
    width: 1.5rem;
}

::-webkit-scrollbar-track {
    background: #d1e5ff;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #616161, #9bc5c3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}