* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;

}

.cart{
    color: white;
    width: 80px;
    margin-top: 10px;
    font-size: 40px;
}

.cart a{
    text-decoration: none;
    color: white;
}

html {
    font-size: 62.5%;
}

body{
    overflow-x: hidden;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    background: transparent;
    background: #555555;
    position: relative;

}



.logo {
    width: 250%;
    height: 210%;
    display: flex;
}


.navlist {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 9rem;
    background: transparent;
    background: #555555;
    position: relative;
    padding: 4rem;
}

.navlist a {
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;

}

.navlist a:hover {
    border-bottom: 2px solid #39b54a;
    color: #ffdf4f;
}


#menu-icon {
    color: black;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    background-image: url("/img/money\ bg.png"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

section {
    padding: 0 19%;
}

.hero-text h5 {
    font-size: 21px;
    font-weight: 400;
    color: black;
    margin-bottom: 40px;
}

.hero-text h1 {
    font-family: 'PT Serif', serif;
    font-size: 90px;
    line-height: 1;
    color: black;
    margin: 0 0 45px;
}

.hero-text h4 {
    font-size: 26px;
    font-weight: 600;
    color: black;
    margin-bottom: 10px;
}

.hero-text p {
    color: black;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
}

.hero-img img {
    width: 500px;
    height: auto;
}

.hero-text a {
    display: inline-block;
    color: black;
    background: yellow;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}

.hero-text a:hover {
    background: transparent;
    border: 1px solid green;
    transform: translateX(8px);
}

.hero-text a.ctaa {
    background: transparent;
    border: 1px solid black;
    margin-left: 20px;
}

.hero-text a.ctaa i {
    vertical-align: middle;
    margin-right: 5px;
}

.icons {
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}

.icons i {
    display: block;
    margin: 26px;
    font-size: 28px;
    color: black;
    transition: all .50s ease;
}

.icons i:hover {
    color: #434343;
    transform: translateY(-5px);
}

.scroll-down {
    position: fixed ;
    bottom: 6%;
    right: 9%;
   
}

.scroll-down::after {
    position: fixed ;
    bottom: 6%;
    right: 9%;
    content: '';
}

.scroll-down i {
    display: block;
    padding: 12px;
    font-size: 25px;
    color: #ffdf4f;
    background: #232526;
    border-radius: 30px;
   
}

.scroll-down i:hover {
    transform: translateY(-6px);
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    display: inline-block;
    margin-top: 400px;
}

.container p{
    font-size: 16px;
}

.heading {
    position: relative;
    margin-top: 200px;
}

.heading-img {
    width: 500px;
    height: auto;
   
    margin-left: 320px;
}

.heading-text1 {
    font-size: 20px;
    text-transform: uppercase;
}

.heading-text {
    position: absolute;
    bottom: 43%;
    left: 50%;
}

.heading-text2 {
    font-size: 12.5px;
    display: inline-block;
    margin-left: -100px;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 330px;
    flex-wrap: wrap;
}

.button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-left: 100px;
    
}

.button:hover {
    background-color: #ffdf4f;
    box-shadow: 0px 15px 20px rgba(4, 245, 149, 0.4);
    color: #39b54a;
    transform: translateY(-7px);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    border: #838383 solid;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 30px 0 40px;
    border-radius: 20px;
    width: 400px;
    color: green;
    margin-left: 20px;
    margin-top: -240px;
}

.image {
    display: inline-block;
    width: 145px;
    height: 145px;
    margin-bottom: 70px;
    z-index: 1;
    position: relative;
    margin-right: 150px;
}

.card:hover .image::before {
    height: 100%;
}

.image img {
    width: 200%;
    height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    color: #fff;
}

.title {
    display: block;
    margin-top: -15px;
    font-size: 15px;
    color: green;
    text-transform: capitalize;
}

.social li {
    display: inline-block;
}

.social li i {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}


a {
    text-decoration: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}


.btn-hover.color-5 {
    background-image: linear-gradient(to right, yellow, #3cba92, #30dd8a, yellow);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}


.sec--3--steps{
    display: grid;
    grid-template-columns:repeat(5, 1fr) ;
    grid-template-rows:repeat(5, 1fr) ;
    gap: 1rem;
    color: #30dd8a;
}

.sec--3--steps h1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-column: 1/6;
    font-size: 2rem;
}

.sec--3--steps figure{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #434343;
    color: #f0f6ff;
    width: 15rem;
    height: 15rem;
    border-radius: 50rem;
    font-size: 2.5rem;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.step{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 1rem;
}

.step--1{

    grid-column:2/3;
    grid-row: 2/3;
}

.step--2{
    grid-column:4/5;
    grid-row: 2/3;
}

.step--3{
    grid-column:2/3 ;
    grid-row:4/5 ;
}

.step--4{
    grid-column:4/5 ;
    grid-row:4/5 ;
}

.section-a {
    margin: 2rem 0;
    margin-top: -300px;
  }
  
.section-a a:hover{
    text-decoration: none;
}

  .section-a .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
  }
  
  .section-a h1 {
    font-size: 4rem;
    color: var(--primary-color);
  }
  
  .section-a p {
    margin: 1rem 0;
  }
 
  .about button {
    background: #ffcc74;
    color: black;
    border: 2px solid transparent;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: bold;
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-right: 100px;
}

.about button:hover {
    transform: scale(1.2);
    background-color: transparent;
    border: 2px solid #ffcc74;
    color: #ffcc74;
    transition: .4s;
    cursor: pointer;
}

.section--first{
    background: black;
}
.section--second{
    background: darkblue;
}
.section--third{
    background: white;
    display: flex;
    padding: 4remS;
    align-items: center;
}

.arrow{
    width: 10%;
    height: 100%;
    background: white;
    font-size: 300%;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow:hover{
    cursor: pointer;
}

.reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 2rem;
    width: 80%;
    flex-wrap: wrap;
    margin-top: 200px;
}
.review{
    width: 26.6rem;
    min-height: 30rem;
    background: darkred;
    list-style: none;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    background: white;
    box-shadow: 0 1rem 1rem 0 rgba(0,0,0,0.2),
    inset 0 -1rem 1rem -1rem rgba(0,0,0,0.1) ;
    position: relative;
    animation-name: fadein;
    animation-duration: 0.8s;
}

.review:nth-of-type(4), .review:nth-of-type(5), .review:nth-of-type(6){
    display: none;
}

.review img{
    width: 220px;
    
}

.quote{
    font-size: 500%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    line-height: 3rem;
}

.stars{
    color: gold;
}
.review p{
    font-size: 75%;
    font-style: italic;
    padding-bottom: 2rem;
    border-bottom: 0.5 rem solid rgba(0,0,0,0.2);
    margin-top: 10px;
}

footer {
    width: 100%;
    position: absolute;
    /* bottom: 0;weghalen als niet werkt*/
    background: linear-gradient(to right, #232526, #414345);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3) {
    flex-basis: 15%;
}

.logo {
    width: 80px;
    margin-bottom: 30px;
    margin-left: -23px;
}

.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

ul li {
    list-style: none;
    margin-bottom: 12px;
}

ul li a {
    text-decoration: none;
    color: #fff;
}


form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
    gap: 1rem;
}

form .fas {
    font-size: 18px;
    margin-right: 10px;
}

form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;

}

form button .fas {
    font-size: 16px;
    color: #ccc;
}

.social-icons .fab {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

.social-icons:hover {
    cursor: pointer;
}

.social-icons a {
    color: white;
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright {
    text-align: center;
}

.underline {
    width: 100%;
    height: 5px;
    background: #39b54a;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

footer a:hover {
    border-bottom: 2px solid #39b54a;
}

.underline span {
    width: 15px;
    height: 100%;
    background: #ffdf4f;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}


@keyframes moving {
    0% {
        left: -20px
    }

    100% {
        left: 100%;
    }

}

button i {
    color: #ccc;
}

@media (max-width:700px) {
    footer {
        bottom: unset;
    }

    .col {
        flex-basis: 100%;

    }

    .col:nth-child(2),
    .col:nth-child(3) {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 1180px) {
    .about {
        width: 100%;
        height: auto;
        padding: 70px 0;
    }
}

@media screen and (max-width: 650px) {
    .about .content img {
        margin-bottom: 35px;
    }

    .text h1 {
        font-size: 60px;
        margin-bottom: 25px;
    }
}

@keyframes fadein{
    from{
        opacity: 0;
        filter:blur(10px);
    }
    to{
        opacity: 1;
        filter:blur(0);
    }
}

@media screen and (max-width: 50rem){
    .arrow{
        display: none;
    }
    .reviews{
        width: 100%;
    }
}

@media (max-width: 1535px) {
    header {
        padding: 15px 3%;
        transition: .2s;
    }

    .icons {
        padding: 0 3%;
        transition: .2s;
    }

    .scroll-down {
        right: 3%;
        transition: .2s;
    }
}

@media (max-width: 1460px) {
    section {
        padding: 0 12%;
        transition: .2s;
    }
}

@media (max-width: 1340px) {
    .hero-img img {
        width: 100%;
        height: auto;
    }

    .hero-text h1 {
        font-size: 75px;
        margin: 0 0 30px;
    }

    .hero-text h5 {
        margin-bottom: 25px;
    }
}

@media (max-width: 1195px) {
    section {
        padding: 0 3%;
        transition: .2s;
    }

    .hero-text {
        padding-top: 115px;
    }

    .hero-img img {
        width: 560px;
        height: auto;
    }

    .hero {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .icons {
        display: none;
    }

    .scroll-down {
        display: none;
    }
}

@media (max-width: 990px) {
    #menu-icon {
        display: block;
    }

    .navlist {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }

    .navlist a {
        margin-left: 0;
        display: block;
        margin: 7px 0;
    }

    .navlist.open {
        right: 0;
    }
}

@media (max-width: 680px) {
    .hero-img img {
        width: 100%;
        height: auto;
    }
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: #d1e5ff;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(to right, #616161, #9bc5c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}