*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color: #39b54a;
  }
  
  body{
  }
  
  form{
    background: rgba(27,31,34,0.80);
    width: 64rem;
    margin: 5rem auto;
    max-width: 97%;
    border-radius: 0.4rem;
    padding: 5.5rem 3rem;
  }
  
  form .title h2{
    letter-spacing: 0.6rem;
    border-bottom: 0.1rem solid white;
    display: inline-block;
    padding-bottom: 0.8rem;
    margin-bottom: 3.2rem;
  }
  
  form .half{
    display: flex;
    justify-content: space-between;
  }
  
  form .half .item{
    display: flex;
    flex-direction: column;
    margin-bottom: 2.4rem;
    width: 48%;
  }
  
  form label{
    display: block;
    font-size: 1.3rem;
    letter-spacing: 0.35rem;
    margin-bottom: 1.6rem;
  }
  
  form .half .item input{
    border-radius: 0.4rem;
    border: 0.1rem solid white;
    outline: 0;
    padding: 1.6rem;
    width: 100%;
    height: 4.4rem;
    background: transparent;
    font-size: 1.7rem;
  }
  
  form .full{
    margin-bottom: 2.4rem;
  }
  
  form .full textarea{
    background: transparent;
    border-radius: 0.4rem;
    border: 0.1rem solid white;
    outline: 0;
    padding: 1.2rem 1.6rem;
    width: 100%;
    height: 20rem;
    font-size: 1.7rem;
  }
  
  form .action{
    margin-bottom: 3.2rem;
  }
  
  form .action input{
    background: transparent;
    border-radius: 0.4rem;
    border: 0.1rem solid white;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 600;
    height: 4.4rem;
    letter-spacing: 0.3rem;
    outline: 0;
    padding: 0 2rem 0 2.2rem;
    margin-right: 1rem;
  }
  
  form .action input[type="submit"]{
    background: white;
    color: black;
  }
  
  form .icons a{
    border: 0.1rem solid white;
    border-radius: 50%;
    line-height: 3.6rem;
    text-align: center;
    font-weight: 600;
    width: 3.8rem;
    margin-right: 1rem;
  }
  
  form .half .item input:focus, form .full textarea:focus, form .action input[type="reset"]:hover, form .icons a:hover{
    background: rgba(255,255,255,0.075);
  }
  
  @media (max-width: 48rem){
    form .half{
      flex-direction: column;
    }
    form .half .item{
      width: 100%;
    }
    form .action{
      display: flex;
      flex-direction: column;
    }
    form .action input{
      margin-bottom: 1rem;
      width: 100%;
    }
  }